<% provide(:title, 'About') %>
<div class="aboutcomp ">

  <div class="row">
    <div class="col-md-3 ">
      <%=image_tag("container.png",
                   :class=>"img-circle img-responsive img-center ") %>
    </div>
      <div class="col-md-9 ">
        <h3>О нас</h3>
          <p>Компания Tiburon LTD работает на рынке транспортно-экспедиторских услуг по перевозке грузов в контейнерах c 2009 года.<br>
            Наши услуги:<br>
            <ul>
                  <li>Морской фрахт под необходимое количество контейнеров (морская перевозка контейнеров до порта назначения);</li>
                  <li>Экспедирование грузов в портах назначения (оформление сопроводительных документов на груз в порту);</li>
                  <li>Наземная перевозка грузов в контейнерах (из порта / в порт):</li><br>

              <ul>
                 <li> вывоз грузов (CIF) из портов Одесса с дальнейшей транспортировкой,</li>
                 <li> автотранспортом или по Ж.Д. по территории Украины (в режиме импорта),</li>
                  <li>либо доставка грузов до порта погрузки (в режиме экспорта);</li><br>
              </ul>
              <li>Все виды таможенного оформления и таможенная очистка грузов;</li>
              <li>Доставка автомобилей и мотоциклов из Китая, США и Канады в Украину, ПМР, Молдавию, Белллорусию и другие страны ближнего зарубежья.</li>
            </ul>
            В потенциал компании входит широкая сеть наших партнеров и агентов по всему миру, полностью компьютеризированные системы заказов,<br> оформления документации, учета, отслеживания контейнеров, четкая структура и гибкая система тарифов, конкурентные ставки и быстрое их предоставление.<br><br>
            Сообщите, какие направления перевозок Вас интересуют.
            Будем рады предложить Вам лучшие ставки и сервис.

          </p>

      </div>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-12"><h3>Преймущества работы с нами:</h3></div>
    <div class="col-md-4">
      <%=image_tag("ship.png",
                   :class=>" img-responsive img-center ") %>

     <ul>
       <li>	Доставим груз из ЛЮБОГО порта</li>
       <li>	Выбор оптимального маршрута</li>
       <li>	Конкурентный уровень ставок</li>

     </ul>
    </div>
    <div class="col-md-4 ">
      <%=image_tag("boxes.png",
                   :class=>" img-responsive img-center ") %>

      <ul>
        <li> Гарантированно соблюдаем<br> сроки доставки</li>
        <li> Работаем в сфере международных перевозок<br> с 2009 года</li>
        <li> Круглосуточная связь по телефону</li>

      </ul>
    </div>
    <div class="col-md-4 ">
      <%=image_tag("containers.png",
                   :class=>" img-responsive img-center ") %>

      <ul>
        <li> 	Наличие агентов по всему миру</li>
        <li> 	Берем на себя ответственность за организацию<br> всей логистической цепочки</li>
        <li> 	Индивидуальный подход к каждому клиенту!</li>
        <li> 	Профессиональный и квалифицированный персонал, знающий и любящий своё дело!!!</li>

      </ul>
    </div>
  </div>
</div>