<% provide(:title, 'Services') %>
<h1>Transport</h1>

<div class="row">
  <div class="col-sm-4">

    <!-- normal -->
    <div class="ih-item square colored effect11 left_to_right"><a href="#">
      <div class="img"><img src="images/assets/rect/2.jpg" alt="img"></div>
      <div class="info">
        <h3>Heading here</h3>
        <p>Description goes here</p>
      </div></a></div>
    <!-- end colored --
    <!-- end normal -->

  </div>
  <div class="col-sm-4">

    <!-- colored -->
    <div class="ih-item square colored effect11 left_to_right"><a href="#">
      <div class="img"><img src="images/assets/rect/2.jpg" alt="img"></div>
      <div class="info">
        <h3>Heading here</h3>
        <p>Description goes here</p>
      </div></a></div>
    <!-- end colored -->

  </div>
  <div class="col-sm-4">

    <!-- colored -->
    <div class="ih-item square colored effect11 left_to_right"><a href="#">
      <div class="img"><img src="images/assets/rect/2.jpg" alt="img"></div>
      <div class="info">
        <h3>Heading here</h3>
        <p>Description goes here</p>
      </div></a></div>
    <!-- end colored -->

  </div>
  <div class="col-sm-4">

    <!-- normal -->
    <div class="ih-item square colored effect11 left_to_right"><a href="#">
      <div class="img"><img src="images/assets/rect/2.jpg" alt="img"></div>
      <div class="info">
        <h3>Heading here</h3>
        <p>Description goes here</p>
      </div></a></div>
    <!-- end colored --
    <!-- end normal -->

  </div>
  <div class="col-sm-4">

    <!-- colored -->
    <div class="ih-item square colored effect11 left_to_right"><a href="#">
      <div class="img"><img src="images/assets/rect/2.jpg" alt="img"></div>
      <div class="info">
        <h3>Heading here</h3>
        <p>Description goes here</p>
      </div></a></div>
    <!-- end colored -->

  </div>
  <div class="col-sm-4">

    <!-- colored -->
    <div class="ih-item square colored effect11 left_to_right"><a href="#">
      <div class="img"><img src="images/assets/rect/2.jpg" alt="img"></div>
      <div class="info">
        <h3>Heading here</h3>
        <p>Description goes here</p>
      </div></a></div>
    <!-- end colored -->

  </div>
</div>