@import "bootstrap-sprockets";
@import "bootstrap";
@import "ihover";
/*fix white line*/
html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
/*header */
.navbar-default {
  height: 100px;
  background-color: #f8f8ff;
  margin-bottom:0px !important;
}
.collapse, .navbar-collapse{
  margin-top:20px;
  font-size: 12pt;
  margin-right:20px;
}
.brand{
  margin-left:40px;
}
.navbar-collapse{
  background-color: #f8f8ff;
}
/* footer */

footer {
  margin-top: 45px;

  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  background-color: white;

}

footer a {
  color: #555;
  margin-right:5px;
}

footer a:hover {
  color: #222;

}

footer small {
  float: left;
  margin-left:5px;
  color: #222;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}
/* padding left-right */
.container{
    padding-left: 0;
    padding-right:0;
    margin-left:0;
    margin-right:0;
}
/* slider */


.carousel-inner,.carousel,.item,.container {
  height:300px !important;
  width:100%;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;

}


/*forms*/

.sgn{
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: "Arial Black";
}
#upd{
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: "Arial Black";
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

input, textarea, select, .uneditable-input {
  margin-bottom: 15px;
}
textarea{
  margin-bottom:12px;
}

input {
  height: auto !important;
}
.field_with_errors {
  @extend .has-error;
}
#Haveacc{
  margin-top: 20px;
}
#Partners{
  background: whitesmoke;
  width:100%;
  height: 40%;
}
#images{
  text-align: center;
  margin-left: 240px;
  padding-top: 20px;

}
.image{

  opacity: 0.75;
  text-decoration: none;
}
.firstimg{
  opacity: 0.75;

}
.home-content{
  width:100%;
  height:70%;

  margin-bottom:600px;
}

/* Gravatar settings*/
#grav_edit{
  margin-bottom: 70px;
  margin-right: 300px;

}
.show{
  margin-left: 150px;
}

#map{
  margin-left:50px;

  margin-top: 100px;
  height:400px;
  margin-bottom:100px;

}
#address{
margin-left: 40px;
  margin-top:30px;

}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
.title{
  margin-bottom: 20px;
}
.circles{
  margin-top:50px;
  margin-left:20px;
  margin-bottom:150px;
}

hr {

  width: 80%;
  margin-left: auto;
  margin-right: auto;

}
.What{
  font-family: "Times New Roman";
  opacity: 0.8;
}
#blank{
  opacity:0.8;
  font-family: Arial;
  font-size: 13pt;
}

#hover1{
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom:30px;
}
#hover2{
  margin-left: 80px;
  margin-bottom:100px;

}


#formcont{
  margin-top:50px;
}