@import "bootstrap-sprockets";
@import "bootstrap";
/*fix white line*/
html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
/*header */
.navbar-default {
  height: 100px;
  background-color: ghostwhite;
  margin-bottom:0px !important;
}
.collapse, .navbar-collapse{
  margin-top:20px;
  font-size: 12pt;
  margin-right:20px;
}
.brand{
  margin-left:40px;
}
/* footer */

footer {
  margin-top: 45px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;

}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}
/* padding left-right */
.container{
    padding-left: 0;
    padding-right:0;
    margin-left:0;
    margin-right:0;
}
/* slider */


.carousel-inner,.carousel,.item,.container {
  height:300px !important;
  width:100%;
}


/*forms*/

.sgn{
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: "Arial Black";
}
#upd{
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: "Arial Black";
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

input, textarea, select, .uneditable-input {
  margin-bottom: 15px;
}
textarea{
  margin-bottom:12px;
}

input {
  height: auto !important;
}
.field_with_errors {
  @extend .has-error;
}
#Haveacc{
  margin-top: 20px;
}
#Partners{
  background: whitesmoke;
  width:100%;
  height: 40%;
}
#images{
  text-align: center;
  margin-left: 40px;
  padding-top: 20px;

}
.img{
  margin-left:60px;
  opacity: 0.75;
  text-decoration: none;
}
.firstimg{
  opacity: 0.75;
  margin-right:10px;
}
.home-content{
  width:100%;
  height:70%;
}

/* Gravatar settings*/
#grav_edit{
  margin-bottom: 70px;
  margin-right: 300px;

}
.show{
  margin-left: 150px;
}

#map{
  margin-left:140px;
  margin-top: 40px;
  border: 10px solid #97BDB1;
}
#address{
  height:150px;
  width:150px;
  margin-left:850px;
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
