<footer class="footer navbar-fixed-bottom">
  <small>
    ©All right reserved Tiburon LTD

  </small>
  <nav >
    <ul>
      <li><%= link_to "О компании",   '#' %></li>
      <li><%= link_to "Контакты", '#' %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>