<footer class="footer navbar-fixed-bottom">
  <small>
    ©All right reserved Tiburon LTD

  </small>
  <nav >
    <ul>
      <li><%= link_to "О компании",   about_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
      <li><%= link_to "Услуги", services_path %></li>
    </ul>
  </nav>
</footer>